@import url(global.css);

/* header bar */
.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(226, 10, 10, 0.1);
}
.header__logo{
    width:100px;
}

.header__title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header__menu-item a {
    padding: 10px 20px;
    background-color: #3b76f6;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
  
.header__menu-item a:hover {
    background-image: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-color: #0056b3;
}

/*Modal styles*/
.modal {
    display: none;/* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-content {
    background-color: #f41717;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }