<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing page</title>
    <link rel="stylesheet" href="../static/css/successful-registration.css" />
    <script src="../static/landing.js" defer></script>
    <!-- Include your registration.js file -->
  </head>

  <body>
    <header>
      <h1>User registered!</h1>
    </header>
    <main>

    </main>
    <footer></footer>
  </body>
</html>
